
.main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;}
.input{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 18px;
}